@import "how-to-work";
@import "blog";
// HOME SLIDER
.home-slider{
	background-image: url("/assets/img/home-slider.jpg");
	background-position: center;
  	background-size: cover;
  	width: 100%;
	height: 550px;
}

.home-slider-content{
	margin-top: 90px;
	color: white;
}

.header-menu{
	background-color: inherit !important;
}

// HOME BLOG
.home-blog{
	background-color: #CDCDCD;
}

// APP
.app{
	margin: auto;
}

// HOME CONTACT
.home-contact{
	background-image: url("/assets/img/home-contact.jpg");
	background-position: center;
  	background-size: cover;
  	width: 100%;
  	height: 720px;
  	color:#fff;
}

// FOOTER
.footer{
	background-color: #393837;
	color:#fff;
}

// BTN WHATSAPP
.btn-whatsapp{
	margin-bottom: 70px;
}
