.header-blog{
	height: 250px;
	background-image: url("/assets/img/blog.jpg");
	background-position: center;
  	background-size: cover;
  	width: 100%;
}

.header-blog-view{
	height: 110px;
	background-color: #0e490a;
	width: 100%;
}
#chip-usage-example .v-chip {
    margin: 8px;
}
